### Description

**Airport**: The IATA airport code of the selected airport.  
**Terminal**: Terminal(s) associated with the airport selected.  
**Date**: Arrival Date(s) of flights associated with the airport/terminal/date range selected.  
**Hour**: Hour(s) of arriving flights during a 24 hour time period for the airport/terminal selected/date range selected.  
**U.S. Citizen Wait Times**:

    Average:The average wait time for all U.S. Citizen passengers on flights arriving in the one hour increment.
    Max:The highest wait time for all U.S. Citizen passengers on a flight arriving in the one hour increment.

**Non U.S. Citizen Wait Times**:

    Average:The average wait time for all Non U.S. Citizen passengers on flights arriving in the one hour increment.
    Max:The highest wait time for all Non U.S. Citizen passengers on a flight arriving in the one hour increment.

**Wait Times**:

    Average:The average wait time for all passengers on flights arriving in the one hour increment.
    Max:The highest wait time for any passenger on a flight arriving in the one hour increment.

**Number of Passengers Time Interval**:

    0-15:The actual number of passengers on flights which arrived in the selected hour who were processed in (0-15) minutes.
    16-30:The actual number of passengers on flights which arrived in the selected hour who were processed in (16-30) minutes.
    31-45:The actual number of passengers on flights which arrived in the selected hour who were processed in (31-45) minutes.
    46-60:The actual number of passengers on flights which arrived in the selected hour who were processed in (46-60) minutes.
    61-90:The actual number of passengers on flights which arrived in the selected hour who were processed in (61-90) minutes.
    91-120:The actual number of passengers on flights which arrived in the selected hour who were processed in (91-120) minutes.
    121Plus:The actual number of passengers on flights which arrived in the selected hour who were processed in (121 Plus) minutes.

**Excluded**:The actual number of passengers on flights which arrived in the selected hour who were excluded from wait time reporting.  
**Total**:Total number of passengers aboard arriving flights during the one hour increment.  
**Flights**:Number of flights arriving during the time period.  
**Booths**:Number of staffed primary inspection booths open to process flights which arrived during the selected hour.

In [1]:
import pandas as pd
awt=pd.read_excel(r'C:\Users\Akilan\Documents\Python Scripts\Assignment_AWT\AWT.xls',0,header=[0,1,2,3],skiprows=0)
awt.head()

             Airport           Terminal                 Date  \
  Unnamed: 0_level_1 Unnamed: 1_level_1   Unnamed: 2_level_1
  Unnamed: 0_level_2 Unnamed: 1_level_2   Unnamed: 2_level_2
  Unnamed: 0_level_3 Unnamed: 1_level_3   Unnamed: 2_level_3
0                ORD         Terminal 5  2017-01-01 00:00:00
1                ORD         Terminal 5  2017-01-01 00:00:00
2                ORD         Terminal 5  2017-01-01 00:00:00
3                ORD         Terminal 5  2017-01-01 00:00:00
4                ORD         Terminal 5  2017-01-01 00:00:00

                Hour       U.S. Citizen                      Non U.S. Citizen  \
  Unnamed: 3_level_1 Unnamed: 4_level_1 Unnamed: 5_level_1 Unnamed: 6_level_1
  Unnamed: 3_level_2       Average Wait           Max Wait       Average Wait
  Unnamed: 3_level_3               Time               Time               Time
0        0300 - 0400                  0                  0                  0
1        0400 - 0500                 18                 51                 28
2        0600 - 0700                 11                 49                 27
3        0700 - 0800                  7                 24                 12
4        0800 - 0900                  5                 25                 13

                              All           ...  \
  Unnamed: 7_level_1   Wait Times           ...
            Max Wait Average Wait Max Wait  ...
                Time         Time     Time  ...
0                  0            0        0  ...
1                 51           20       51  ...
2                 49           20       49  ...
3                 26           10       26  ...
4                 37           10       37  ...

                                                                              \
  Number Of Passengers Time Interval
                               16-30               31-45               46-60
                 Unnamed: 11_level_3 Unnamed: 12_level_3 Unnamed: 13_level_3
0                                  0                   0                   0
1                                160                  60                   8
2                                 81                  64                  19
3                                 88                   0                   0
4                                121                  16                   0

                                                               \

                61-90              91-120            120 plus
  Unnamed: 14_level_3 Unnamed: 15_level_3 Unnamed: 16_level_3
0                   0                   0                   0
1                   0                   0                   0
2                   0                   0                   0
3                   0                   0                   0
4                   0                   0                   0

                                                               \

             Excluded               Total             Flights
  Unnamed: 17_level_3 Unnamed: 18_level_3 Unnamed: 19_level_3
0                   7                   7                   1
1                  13                 362                   3
2                  10                 328                   1
3                  10                 370                   2
4                  11                 446                   2



               Booths
  Unnamed: 20_level_3
0                   0
1                  10
2                  10
3                  12
4                  12

[5 rows x 21 columns]

In [2]:
import re
awt.rename(columns=lambda x: str(x).replace('Unnamed: ',''),inplace=True)
awt.rename(columns=lambda x: re.sub('[0-9]','',x),inplace=True)
awt.rename(columns=lambda x: x.replace('_level_',''),inplace=True)
l=[]
for i in awt.columns:
    i=list(i)
    l.append("".join(i))
awt.columns=l   
awt.head()

,Airport,Terminal,Date,Hour,U.S. CitizenAverage WaitTime,U.S. CitizenMax WaitTime,Non U.S. CitizenAverage WaitTime,Non U.S. CitizenMax WaitTime,AllWait TimesAverage WaitTime,AllWait TimesMax WaitTime,...,AllNumber Of Passengers Time Interval-,AllNumber Of Passengers Time Interval-,AllNumber Of Passengers Time Interval-,AllNumber Of Passengers Time Interval-,AllNumber Of Passengers Time Interval-,AllNumber Of Passengers Time Interval plus,AllNumber Of Passengers Time IntervalExcluded,AllNumber Of Passengers Time IntervalTotal,AllNumber Of Passengers Time IntervalFlights,AllNumber Of Passengers Time IntervalBooths
0,ORD,Terminal 5,2017-01-01 00:00:00,0300 - 0400,0,0,0,0,0,0,...,0,0,0,0,0,0,7,7,1,0
1,ORD,Terminal 5,2017-01-01 00:00:00,0400 - 0500,18,51,28,51,20,51,...,160,60,8,0,0,0,13,362,3,10
2,ORD,Terminal 5,2017-01-01 00:00:00,0600 - 0700,11,49,27,49,20,49,...,81,64,19,0,0,0,10,328,1,10
3,ORD,Terminal 5,2017-01-01 00:00:00,0700 - 0800,7,24,12,26,10,26,...,88,0,0,0,0,0,10,370,2,12
4,ORD,Terminal 5,2017-01-01 00:00:00,0800 - 0900,5,25,13,37,10,37,...,121,16,0,0,0,0,11,446,2,12

In [3]:
awt.columns
print(awt.dtypes)

Airport                                          object
Terminal                                         object
Date                                             object
Hour                                             object
U.S. CitizenAverage WaitTime                      int64
U.S. CitizenMax WaitTime                          int64
Non U.S. CitizenAverage WaitTime                  int64
Non U.S. CitizenMax WaitTime                      int64
AllWait TimesAverage WaitTime                     int64
AllWait TimesMax WaitTime                         int64
AllNumber Of Passengers Time Interval-            int64
AllNumber Of Passengers Time Interval-            int64
AllNumber Of Passengers Time Interval-            int64
AllNumber Of Passengers Time Interval-            int64
AllNumber Of Passengers Time Interval-            int64
AllNumber Of Passengers Time Interval-            int64
AllNumber Of Passengers Time Interval plus        int64
AllNumber Of Passengers Time IntervalExcluded     int64
AllNumber Of Passengers Time IntervalTotal        int64
AllNumber Of Passengers Time IntervalFlights      int64
AllNumber Of Passengers Time IntervalBooths       int64
dtype: object

In [4]:
awt.isna().sum(axis=0)
print(awt.Airport.unique())
print((awt.Terminal.unique()))
#these two columns are not useful
awt.drop(columns=['Airport','Terminal'],inplace=True)

['ORD']
['Terminal 5']

In [5]:
a=awt.Hour.unique()
a.shape

(24,)

In [6]:
#awt["Hour"] = awt["Hour"].replace(lambda x: x[0:4],inplace=True)
awt1 = awt["Hour"]
a= awt1.unique()
l=list(a[0:24])
l1=[]
print(l)
for i in range(len(l)):
    l1.append(l[i][0:4])
keys=l
vals=l1
d=dict(zip(keys,vals))
awt["Hour"] = awt["Hour"].map(d)
awt.head()

['0300 - 0400', '0400 - 0500', '0600 - 0700', '0700 - 0800', '0800 - 0900', '0900 - 1000', '1000 - 1100', '1100 - 1200', '1200 - 1300', '1300 - 1400', '1400 - 1500', '1500 - 1600', '1600 - 1700', '1700 - 1800', '1800 - 1900', '1900 - 2000', '2000 - 2100', '2100 - 2200', '2200 - 2300', '2300 - 0000', '0000 - 0100', '0100 - 0200', '0500 - 0600', '0200 - 0300']

,Date,Hour,U.S. CitizenAverage WaitTime,U.S. CitizenMax WaitTime,Non U.S. CitizenAverage WaitTime,Non U.S. CitizenMax WaitTime,AllWait TimesAverage WaitTime,AllWait TimesMax WaitTime,AllNumber Of Passengers Time Interval-,AllNumber Of Passengers Time Interval-,AllNumber Of Passengers Time Interval-,AllNumber Of Passengers Time Interval-,AllNumber Of Passengers Time Interval-,AllNumber Of Passengers Time Interval-,AllNumber Of Passengers Time Interval plus,AllNumber Of Passengers Time IntervalExcluded,AllNumber Of Passengers Time IntervalTotal,AllNumber Of Passengers Time IntervalFlights,AllNumber Of Passengers Time IntervalBooths
0,2017-01-01 00:00:00,0300,0,0,0,0,0,0,0,0,0,0,0,0,0,7,7,1,0
1,2017-01-01 00:00:00,0400,18,51,28,51,20,51,121,160,60,8,0,0,0,13,362,3,10
2,2017-01-01 00:00:00,0600,11,49,27,49,20,49,154,81,64,19,0,0,0,10,328,1,10
3,2017-01-01 00:00:00,0700,7,24,12,26,10,26,272,88,0,0,0,0,0,10,370,2,12
4,2017-01-01 00:00:00,0800,5,25,13,37,10,37,298,121,16,0,0,0,0,11,446,2,12

### Problems
- read dataset and convert column headers to correct format (the first  4 rows are headers, but not all rows contain column names)
- check datatype of each column
- find out columns which have na values
- check if there are any unique values in first two columns
- based on above, are these two columns userful ?   
  
  
- check if all hour values are present or not
- drop the upper bound of  hour column
  Ex: replace  0100 - 0200 with 0100 ...
- check that hour values lie in range 0-2300 or not
- convert hour column from string type to datetime type. (If this doesn't work out easily, then first solve next problem)
- check that length of each hour value is 4, if  not, check why and fix it and then check again   
  
  
- convert Date column to datetime type
- check data types now
- replace Hours with only time part and Date column with only date part (both should  be converted to datetime type before this)
- check data types again
- merge date and hour column into a new column date_time (type of date_time should be datetime not str)

In [28]:
#awt["Hour"]=pd.to_datetime(awt["Hour"],format="%H%M").dt.time
#awt["Date"]=pd.to_datetime(awt["Date"]).dt.date
awt["Hour"]=pd.to_datetime(awt["Hour"],format="%H%M")

AttributeError: 'Series' object has no attribute 'time'

In [14]:
a1= awt["Date"].apply(lambda x: pd.to_datetime(x) if isinstance(x,str) else x)
awt["Date"]=a1
awt.dtypes

Date                                             datetime64[ns]
Hour                                             datetime64[ns]
U.S. CitizenAverage WaitTime                              int64
U.S. CitizenMax WaitTime                                  int64
Non U.S. CitizenAverage WaitTime                          int64
Non U.S. CitizenMax WaitTime                              int64
AllWait TimesAverage WaitTime                             int64
AllWait TimesMax WaitTime                                 int64
AllNumber Of Passengers Time Interval-                    int64
AllNumber Of Passengers Time Interval-                    int64
AllNumber Of Passengers Time Interval-                    int64
AllNumber Of Passengers Time Interval-                    int64
AllNumber Of Passengers Time Interval-                    int64
AllNumber Of Passengers Time Interval-                    int64
AllNumber Of Passengers Time Interval plus                int64
AllNumber Of Passengers Time IntervalExcluded             int64
AllNumber Of Passengers Time IntervalTotal                int64
AllNumber Of Passengers Time IntervalFlights              int64
AllNumber Of Passengers Time IntervalBooths               int64
dtype: object

In [9]:
print(dir(pd.datetime))

['__add__', '__class__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__ne__', '__new__', '__radd__', '__reduce__', '__reduce_ex__', '__repr__', '__rsub__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', 'astimezone', 'combine', 'ctime', 'date', 'day', 'dst', 'fold', 'fromisocalendar', 'fromisoformat', 'fromordinal', 'fromtimestamp', 'hour', 'isocalendar', 'isoformat', 'isoweekday', 'max', 'microsecond', 'min', 'minute', 'month', 'now', 'replace', 'resolution', 'second', 'strftime', 'strptime', 'time', 'timestamp', 'timetuple', 'timetz', 'today', 'toordinal', 'tzinfo', 'tzname', 'utcfromtimestamp', 'utcnow', 'utcoffset', 'utctimetuple', 'weekday', 'year']

<ipython-input-9-0965d3ff7f8a>:1: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  print(dir(pd.datetime))

In [16]:
awt.dtypes["Hour"]

dtype('<M8[ns]')

In [17]:
import numpy as np
awt.select_dtypes(include=[np.datetime64])

           Date                Hour
0    2017-01-01 1900-01-01 03:00:00
1    2017-01-01 1900-01-01 04:00:00
2    2017-01-01 1900-01-01 06:00:00
3    2017-01-01 1900-01-01 07:00:00
4    2017-01-01 1900-01-01 08:00:00
...         ...                 ...
6699 2017-12-31 1900-01-01 18:00:00
6700 2017-12-31 1900-01-01 19:00:00
6701 2017-12-31 1900-01-01 20:00:00
6702 2017-12-31 1900-01-01 21:00:00
6703 2017-12-31 1900-01-01 23:00:00

[6704 rows x 2 columns]

In [55]:
a=awt["Date"].dt.date
b=awt["Hour"].dt.time